@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is a leave application website. Choose in the tabs above for your need.</h3>
    <img src="https://images.pexels.com/photos/3831884/pexels-photo-3831884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="picture with the text Bye" />
</div>
