@{
    ViewData["Title"] = "Privacy Policy: We Promise Not to Pack Your Suitcase";
}
<h1>@Html.Raw(ViewData["Title"])</h1>

<h4>Welcome to our Leave website! We understand the importance of privacy, especially when it comes to your time off. 
    So, kick back, relax, and let us assure you that your privacy is as sacred to us as those precious vacation days you've been saving up.</h4>

<p>
    <h4>Our Promise:</h4><br />
    <strong>1. No Peeking:</strong>
    We promise not to sneakily glance over your leave applications like nosy neighbors peeking through curtains. Your personal time-off plans are your business, and we'll keep it that way.
    <br />
    <strong>2. No Snooping:</strong><br />
    We won't be rummaging through your digital suitcase. Your personal information is securely stored, locked away tighter than your luggage on a budget airline.
    <br />
    <strong>3. No Spying:</strong><br />
    We're not hiring spies to track your every move. Your whereabouts during your leave are none of our business unless you decide to share your epic adventures with us (in which case, we're all ears!).
</p>
